* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

:root {
  --primary-color: #000;
  --secondry-color: #18181B;
  --border: rgba(63,63,70, 0.4);
  --bg-header: #252529;
  --title : #B2B2B5;
  --blue : rgb(45 212 191);
}

body {
  background-color: var(--primary-color);
  color: #fff;
}

.container {
  border: 2px solid var(--border);
  margin: auto;
  width: 80%;
  background-color: var(--secondry-color);
}

.line {
  border-bottom: 1px solid var(--secondry-color);
}

.flex {
  display: flex;
  align-items: center;
}